body,html {
    width: 100%;
    height: 100%
}

input::-ms-clear,input::-ms-reveal {
    display: none
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

[tabindex="-1"]:focus {
    outline: none
}

hr {
    box-sizing: content-box;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500
}

p {
    margin-top: 0;
    margin-bottom: 1em
}

abbr[data-original-title],abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline;
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help
}

address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit
}

input[type=number],input[type=password],input[type=text],textarea {
    -webkit-appearance: none
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1em
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 500
}

dd {
    margin-bottom: .5em;
    margin-left: 0
}

blockquote {
    margin: 0 0 1em
}

dfn {
    font-style: italic
}

code,kbd,pre,samp {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}

pre {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto
}

figure {
    margin: 0 0 1em
}

img {
    vertical-align: middle;
    border-style: none
}

[role=button],a,area,button,input:not([type=range]),label,select,summary,textarea {
    touch-action: manipulation
}

caption {
    padding-top: .75em;
    padding-bottom: .3em;
    text-align: left;
    caption-side: bottom
}

button,input,optgroup,select,textarea {
    font-size: inherit
}

button,input {
    overflow: visible
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],input[type=datetime-local],input[type=month],input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto
}

fieldset {
    min-width: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: .5em;
    color: inherit;
    font-size: 1.5em;
    line-height: inherit;
    white-space: normal
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

output {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none!important
}

mark {
    padding: .2em;
    background-color: #feffe6
}

/*
! tailwindcss v3.3.1 | MIT License | https://tailwindcss.com
*/
*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,:before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,legend {
    padding: 0
}

menu,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.pointer-events-none {
    pointer-events: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    inset: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.inset-y-0 {
    top: 0;
    bottom: 0
}

.bottom-0 {
    bottom: 0
}

.bottom-2 {
    bottom: .5rem
}

.bottom-\[16\%\] {
    bottom: 16%
}

.bottom-\[65px\] {
    bottom: 65px
}

.bottom-\[90px\] {
    bottom: 90px
}

.bottom-safe-bottom {
    bottom: env(safe-area-inset-bottom)
}

.left-0 {
    left: 0
}

.left-1\/2 {
    left: 50%
}

.left-3 {
    left: .75rem
}

.left-\[12px\] {
    left: 12px
}

.left-\[16px\] {
    left: 16px
}

.left-\[30px\] {
    left: 30px
}

.left-\[50\%\] {
    left: 50%
}

.right-0 {
    right: 0
}

.right-2 {
    right: .5rem
}

.right-4 {
    right: 1rem
}

.right-\[0\] {
    right: 0
}

.right-\[10px\] {
    right: 10px
}

.right-\[14px\] {
    right: 14px
}

.right-\[16px\] {
    right: 16px
}

.top-0 {
    top: 0
}

.top-1\/2 {
    top: 50%
}

.top-2 {
    top: .5rem
}

.top-3 {
    top: .75rem
}

.top-\[-101px\] {
    top: -101px
}

.top-\[0\] {
    top: 0
}

.top-\[105px\] {
    top: 105px
}

.top-\[110px\] {
    top: 110px
}

.top-\[130px\] {
    top: 130px
}

.top-\[175px\] {
    top: 175px
}

.top-\[2px\] {
    top: 2px
}

.top-\[38\%\] {
    top: 38%
}

.top-\[45\%\] {
    top: 45%
}

.top-\[45px\] {
    top: 45px
}

.top-\[50\%\] {
    top: 50%
}

.top-\[50px\] {
    top: 50px
}

.top-\[70px\] {
    top: 70px
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.z-\[100\] {
    z-index: 100
}

.z-\[200\] {
    z-index: 200
}

.z-\[9999\] {
    z-index: 9999
}

.z-\[999\] {
    z-index: 999
}

.z-\[99\] {
    z-index: 99
}

.z-\[9\] {
    z-index: 9
}

.\!my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important
}

.\!my-\[2px\] {
    margin-top: 2px!important;
    margin-bottom: 2px!important
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-\[8px\] {
    margin-left: 8px;
    margin-right: 8px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.my-\[10px\] {
    margin-top: 10px;
    margin-bottom: 10px
}

.my-\[15px\] {
    margin-top: 15px;
    margin-bottom: 15px
}

.my-\[8px\] {
    margin-top: 8px;
    margin-bottom: 8px
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-\[0\.5rem\] {
    margin-bottom: .5rem
}

.mb-\[0\.9rem\] {
    margin-bottom: .9rem
}

.mb-\[12px\] {
    margin-bottom: 12px
}

.mb-\[15px\] {
    margin-bottom: 15px
}

.ml-0 {
    margin-left: 0
}

.ml-2 {
    margin-left: .5rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-\[10px\] {
    margin-left: 10px
}

.ml-\[12px\] {
    margin-left: 12px
}

.ml-\[2px\] {
    margin-left: 2px
}

.ml-\[40px\] {
    margin-left: 40px
}

.ml-\[45px\] {
    margin-left: 45px
}

.ml-\[4px\] {
    margin-left: 4px
}

.ml-\[5px\] {
    margin-left: 5px
}

.ml-\[6px\] {
    margin-left: 6px
}

.ml-\[8px\] {
    margin-left: 8px
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-\[10px\] {
    margin-right: 10px
}

.mr-\[15px\] {
    margin-right: 15px
}

.mr-\[4px\] {
    margin-right: 4px
}

.mr-\[5px\] {
    margin-right: 5px
}

.mr-\[6px\] {
    margin-right: 6px
}

.mr-\[8px\] {
    margin-right: 8px
}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: .25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-14 {
    margin-top: 3.5rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-2\.5 {
    margin-top: .625rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-\[10px\] {
    margin-top: 10px
}

.mt-\[15px\] {
    margin-top: 15px
}

.mt-\[2px\] {
    margin-top: 2px
}

.mt-\[30px\] {
    margin-top: 30px
}

.mt-\[8px\] {
    margin-top: 8px
}

.line-clamp-1 {
    -webkit-line-clamp: 1
}

.line-clamp-1,.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.line-clamp-2 {
    -webkit-line-clamp: 2
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.table-row {
    display: table-row
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-10 {
    height: 2.5rem
}

.h-11 {
    height: 2.75rem
}

.h-12 {
    height: 3rem
}

.h-5 {
    height: 1.25rem
}

.h-\[100px\] {
    height: 100px
}

.h-\[16px\] {
    height: 16px
}

.h-\[18px\] {
    height: 18px
}

.h-\[20px\] {
    height: 20px
}

.h-\[25px\] {
    height: 25px
}

.h-\[300px\] {
    height: 300px
}

.h-\[30px\] {
    height: 30px
}

.h-\[32px\] {
    height: 32px
}

.h-\[35px\] {
    height: 35px
}

.h-\[36px\] {
    height: 36px
}

.h-\[38px\] {
    height: 38px
}

.h-\[400px\] {
    height: 400px
}

.h-\[40px\] {
    height: 40px
}

.h-\[42\.5px\] {
    height: 42.5px
}

.h-\[42px\] {
    height: 42px
}

.h-\[54px\] {
    height: 54px
}

.h-\[80px\] {
    height: 80px
}

.h-full {
    height: 100%
}

.max-h-\[220px\] {
    max-height: 220px
}

.max-h-\[400px\] {
    max-height: 400px
}

.max-h-\[450px\] {
    max-height: 450px
}

.max-h-\[480px\] {
    max-height: 480px
}

.max-h-\[500px\] {
    max-height: 500px
}

.max-h-screen {
    max-height: 100vh
}

.min-h-\[130px\] {
    min-height: 130px
}

.min-h-\[160px\] {
    min-height: 160px
}

.min-h-\[180px\] {
    min-height: 180px
}

.min-h-\[200px\] {
    min-height: 200px
}

.min-h-\[240px\] {
    min-height: 240px
}

.min-h-\[calc\(100vh-120px\)\] {
    min-height: calc(100vh - 120px)
}

.min-h-\[calc\(100vh-65px\)\] {
    min-height: calc(100vh - 65px)
}

.min-h-screen {
    min-height: 100vh
}

.w-4 {
    width: 1rem
}

.w-5 {
    width: 1.25rem
}

.w-6 {
    width: 1.5rem
}

.w-\[100px\] {
    width: 100px
}

.w-\[120px\] {
    width: 120px
}

.w-\[130px\] {
    width: 130px
}

.w-\[150px\] {
    width: 150px
}

.w-\[16px\] {
    width: 16px
}

.w-\[170px\] {
    width: 170px
}

.w-\[180px\] {
    width: 180px
}

.w-\[18px\] {
    width: 18px
}

.w-\[200px\] {
    width: 200px
}

.w-\[20px\] {
    width: 20px
}

.w-\[30px\] {
    width: 30px
}

.w-\[35px\] {
    width: 35px
}

.w-\[38px\] {
    width: 38px
}

.w-\[42px\] {
    width: 42px
}

.w-\[45px\] {
    width: 45px
}

.w-\[50px\] {
    width: 50px
}

.w-\[54px\] {
    width: 54px
}

.w-\[60px\] {
    width: 60px
}

.w-\[80px\] {
    width: 80px
}

.w-\[82px\] {
    width: 82px
}

.w-\[calc\(100\%-100px\)\] {
    width: calc(100% - 100px)
}

.w-\[calc\(100\%-35px\)\] {
    width: calc(100% - 35px)
}

.w-\[calc\(100\%-70px\)\] {
    width: calc(100% - 70px)
}

.w-\[calc\(100\%-80px\)\] {
    width: calc(100% - 80px)
}

.w-\[calc\(100\%-85px\)\] {
    width: calc(100% - 85px)
}

.w-full {
    width: 100%
}

.w-max {
    width: -moz-max-content;
    width: max-content
}

.min-w-\[50px\] {
    min-width: 50px
}

.max-w-\[150px\] {
    max-width: 150px
}

.max-w-\[35vw\] {
    max-width: 35vw
}

.max-w-\[450px\] {
    max-width: 450px
}

.max-w-\[65px\] {
    max-width: 65px
}

.max-w-\[792px\] {
    max-width: 792px
}

.max-w-\[85px\] {
    max-width: 85px
}

.max-w-screen-sm {
    max-width: 640px
}

.max-w-screen-xl {
    max-width: 1280px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-none {
    flex: none
}

.flex-shrink-0,.shrink-0 {
    flex-shrink: 0
}

.table-auto {
    table-layout: auto
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-x-1\/2,.-translate-y-1\/2 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.translate-x-\[-50\%\] {
    --tw-translate-x: -50%
}

.translate-x-\[-50\%\],.translate-y-\[-50\%\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[-50\%\] {
    --tw-translate-y: -50%
}

.translate-y-\[50\%\] {
    --tw-translate-y: 50%
}

.scale-100,.translate-y-\[50\%\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite
}

.cursor-default {
    cursor: default
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resize {
    resize: both
}

.snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.snap-center {
    scroll-snap-align: center
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.grid-cols-5 {
    grid-template-columns: repeat(5,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-nowrap {
    flex-wrap: nowrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.gap-0 {
    gap: 0
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-x-2 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.divide-y>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.divide-white\/5>:not([hidden])~:not([hidden]) {
    border-color: hsla(0,0%,100%,.05)
}

.self-stretch {
    align-self: stretch
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overflow-y-hidden {
    overflow-y: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.whitespace-pre-line {
    white-space: pre-line
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.break-all {
    word-break: break-all
}

.\!rounded-\[12px\] {
    border-radius: 12px!important
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-\[50\%\] {
    border-radius: 50%
}

.rounded-\[6px\] {
    border-radius: 6px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-md {
    border-radius: .375rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-2xl {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem
}

.rounded-b-\[6px\] {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}

.rounded-b-\[8px\] {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.rounded-bl-2xl {
    border-bottom-left-radius: 1rem
}

.rounded-bl-xl {
    border-bottom-left-radius: .75rem
}

.rounded-br-2xl {
    border-bottom-right-radius: 1rem
}

.rounded-tl-2xl {
    border-top-left-radius: 1rem
}

.rounded-tr-2xl {
    border-top-right-radius: 1rem
}

.rounded-tr-xl {
    border-top-right-radius: .75rem
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0
}

.border-\[1px\] {
    border-width: 1px
}

.border-b,.border-b-\[1px\] {
    border-bottom-width: 1px
}

.border-b-\[2px\] {
    border-bottom-width: 2px
}

.border-t,.border-t-\[1px\] {
    border-top-width: 1px
}

.border-\[\#1e2c43\] {
    --tw-border-opacity: 1;
    border-color: rgb(30 44 67/var(--tw-border-opacity))
}

.border-\[\#F8413B\] {
    --tw-border-opacity: 1;
    border-color: rgb(248 65 59/var(--tw-border-opacity))
}

.border-\[\#d1d5db4d\] {
    border-color: #d1d5db4d
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55/var(--tw-border-opacity))
}

.border-white\/10 {
    border-color: hsla(0,0%,100%,.1)
}

.border-white\/5 {
    border-color: hsla(0,0%,100%,.05)
}

.border-b-\[\#1e2c43\] {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(30 44 67/var(--tw-border-opacity))
}

.border-b-gray-800 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(31 41 55/var(--tw-border-opacity))
}

.\!bg-\[\#F8413B\] {
    --tw-bg-opacity: 1!important;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))!important
}

.\!bg-amber-500 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(245 158 11/var(--tw-bg-opacity))!important
}

.\!bg-gray-600 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))!important
}

.\!bg-transparent {
    background-color: transparent!important
}

.bg-\[\#000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-\[\#00C202\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 194 2/var(--tw-bg-opacity))
}

.bg-\[\#111827\] {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.bg-\[\#384152\] {
    --tw-bg-opacity: 1;
    background-color: rgb(56 65 82/var(--tw-bg-opacity))
}

.bg-\[\#F8413B\] {
    --tw-bg-opacity: 1;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))
}

.bg-\[\#eb6e6a\] {
    --tw-bg-opacity: 1;
    background-color: rgb(235 110 106/var(--tw-bg-opacity))
}

.bg-\[\#f8413b\] {
    --tw-bg-opacity: 1;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))
}

.bg-\[rgba\(8\2c 17\2c 29\2c 0\.85\)\] {
    background-color: rgba(8,17,29,.85)
}

.bg-amber-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11/var(--tw-bg-opacity))
}

.bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175/var(--tw-bg-opacity))
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity))
}

.bg-gray-400\/10 {
    background-color: rgba(156,163,175,.1)
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128/var(--tw-bg-opacity))
}

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.bg-sky-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199/var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8/var(--tw-bg-opacity))
}

.bg-yellow-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(202 138 4/var(--tw-bg-opacity))
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-0 {
    padding: 0
}

.p-2 {
    padding: .5rem
}

.p-\[10px\] {
    padding: 10px
}

.p-\[12px\] {
    padding: 12px
}

.p-\[15px\] {
    padding: 15px
}

.p-\[20px\] {
    padding: 20px
}

.p-\[2px\] {
    padding: 2px
}

.p-\[5px\] {
    padding: 5px
}

.\!px-\[0\] {
    padding-left: 0!important;
    padding-right: 0!important
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-\[0px\] {
    padding-left: 0;
    padding-right: 0
}

.px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px
}

.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px
}

.px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px
}

.px-\[4px\] {
    padding-left: 4px;
    padding-right: 4px
}

.px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px
}

.px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px
}

.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[0\] {
    padding-top: 0;
    padding-bottom: 0
}

.py-\[105px\] {
    padding-top: 105px;
    padding-bottom: 105px
}

.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px
}

.py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px
}

.py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px
}

.py-\[1px\] {
    padding-top: 1px;
    padding-bottom: 1px
}

.py-\[2px\] {
    padding-top: 2px;
    padding-bottom: 2px
}

.py-\[4px\] {
    padding-top: 4px;
    padding-bottom: 4px
}

.py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px
}

.py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px
}

.py-\[7px\] {
    padding-top: 7px;
    padding-bottom: 7px
}

.py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-\[10px\] {
    padding-bottom: 10px
}

.pb-\[30px\] {
    padding-bottom: 30px
}

.pb-\[5px\] {
    padding-bottom: 5px
}

.pb-\[60px\] {
    padding-bottom: 60px
}

.pb-\[70px\] {
    padding-bottom: 70px
}

.pb-\[80px\] {
    padding-bottom: 80px
}

.pb-\[90px\] {
    padding-bottom: 90px
}

.pb-\[calc\(env\(safe-area-inset-bottom\)\+1rem\)\] {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem)
}

.pl-10 {
    padding-left: 2.5rem
}

.pl-2 {
    padding-left: .5rem
}

.pl-8 {
    padding-left: 2rem
}

.pl-\[10px\] {
    padding-left: 10px
}

.pl-\[30px\] {
    padding-left: 30px
}

.pl-\[5px\] {
    padding-left: 5px
}

.pl-\[6px\] {
    padding-left: 6px
}

.pr-0 {
    padding-right: 0
}

.pr-2 {
    padding-right: .5rem
}

.pr-4 {
    padding-right: 1rem
}

.pr-\[10px\] {
    padding-right: 10px
}

.pr-\[15px\] {
    padding-right: 15px
}

.pr-\[8px\] {
    padding-right: 8px
}

.pt-1 {
    padding-top: .25rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-\[15px\] {
    padding-top: 15px
}

.pt-\[5px\] {
    padding-top: 5px
}

.pt-\[8px\] {
    padding-top: 8px
}

.pt-\[90px\] {
    padding-top: 90px
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.align-top {
    vertical-align: top
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-\[0\.65rem\] {
    font-size: .65rem
}

.text-\[0\.7rem\] {
    font-size: .7rem
}

.text-\[0\.9rem\] {
    font-size: .9rem
}

.text-\[1\.1rem\] {
    font-size: 1.1rem
}

.text-\[1\.2rem\] {
    font-size: 1.2rem
}

.text-\[1\.3rem\] {
    font-size: 1.3rem
}

.text-\[1\.4rem\] {
    font-size: 1.4rem
}

.text-\[1\.5rem\] {
    font-size: 1.5rem
}

.text-\[11px\] {
    font-size: 11px
}

.text-\[12\.5px\] {
    font-size: 12.5px
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[13px\] {
    font-size: 13px
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[16px\] {
    font-size: 16px
}

.text-\[1rem\] {
    font-size: 1rem
}

.text-\[2rem\] {
    font-size: 2rem
}

.text-\[9px\] {
    font-size: 9px
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.font-light {
    font-weight: 300
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.font-thin {
    font-weight: 100
}

.leading-7 {
    line-height: 1.75rem
}

.leading-\[40px\] {
    line-height: 40px
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-wide {
    letter-spacing: .025em
}

.\!text-white {
    --tw-text-opacity: 1!important;
    color: rgb(255 255 255/var(--tw-text-opacity))!important
}

.text-\[\#F8413B\] {
    --tw-text-opacity: 1;
    color: rgb(248 65 59/var(--tw-text-opacity))
}

.text-\[\#fadb14\] {
    --tw-text-opacity: 1;
    color: rgb(250 219 20/var(--tw-text-opacity))
}

.text-\[\#fff\],.text-\[white\] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.placeholder-gray-300::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(209 213 219/var(--tw-placeholder-opacity))
}

.placeholder-gray-300::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(209 213 219/var(--tw-placeholder-opacity))
}

.opacity-50 {
    opacity: .5
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)
}

.shadow,.shadow-none {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-\[\#F8413B\]\/50 {
    --tw-shadow-color: rgba(248,65,59,.5);
    --tw-shadow: var(--tw-shadow-colored)
}

.shadow-gray-300\/50 {
    --tw-shadow-color: rgba(209,213,219,.5);
    --tw-shadow: var(--tw-shadow-colored)
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.outline {
    outline-style: solid
}

.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.ring-inset {
    --tw-ring-inset: inset
}

.ring-gray-400\/20 {
    --tw-ring-color: rgba(156,163,175,.2)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.duration-300 {
    transition-duration: .3s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

:root {
    --color: #000;
    --background: #fff;
    --main-color: #fff;
    --swiper-navigation-size: 30px
}

@media (prefers-color-scheme: white) {
    :root {
        --color:#fff;
        --background: #000;
        --main-color: #fff
    }
}

body,html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch
}

body {
    font-family: Noto Sans JP,sans-serif!important;
    color: var(--color);
    background: var(--background);
    font-size: 13px;
    margin: 0 auto;
    position: relative
}

a:hover {
    color: var(--main-color)
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 8px;
    position: relative
}

.audio:hover path {
    fill: #ff5e57
}

.container-fluid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 8px;
    position: relative
}

.navigation-open {
    overflow: hidden
}

.navigation-open #sidebar {
    display: block;
    position: fixed;
    top: 64px;
    width: 100%;
    background-color: #111;
    height: calc(100vh - 65px);
    overflow-y: auto;
    z-index: 100
}

.ant-result .ant-result-title {
    color: #fff
}

input::-moz-placeholder {
    color: #d1d5db!important;
    opacity: 1
}

input::placeholder {
    color: #d1d5db!important;
    opacity: 1
}

input::-ms-input-placeholder {
    color: #d1d5db!important
}

.anticon-star svg {
    width: 1.4em;
    height: 1.4em
}

.ant-rate-star-second svg,.ant-rate-star-zero svg {
    fill: #6b7280
}

.ant-rate-star-first svg,.ant-rate-star-full svg {
    fill: #f59e0b
}

.ant-modal .ant-modal-content,.ant-modal .ant-modal-header {
    background-color: #111827;
    color: #fff
}

.ant-modal .ant-modal-close-x,.ant-modal .ant-modal-title {
    color: #fff
}

.ant-input-affix-wrapper .ant-input-clear-icon,.ant-input-affix-wrapper .ant-input-clear-icon:hover {
    color: #9ca3af
}

.ant-input-outlined:focus-within {
    border-color: none;
    box-shadow: none
}

.ant-input {
    background-color: transparent!important;
    color: #fff!important
}

.ant-input::-moz-placeholder {
    color: hsla(0,0%,100%,.5)!important
}

.ant-input::placeholder {
    color: hsla(0,0%,100%,.5)!important
}

.ant-modal-root .ant-modal-mask {
    background-color: rgba(0,0,0,.7)
}

.ant-input-textarea-show-count .ant-input-data-count {
    color: #6b7280
}

.comment-drawer>.ant-drawer-body {
    padding: 0 16px 12px 12px!important
}

.ant-drawer-right>.ant-drawer-content-wrapper {
    width: 100%!important
}

.notify-drawer>.ant-drawer-body {
    padding-top: 0!important
}

.ant-tabs-top>.ant-tabs-nav:before {
    border-bottom: 1px solid #1e2c43!important
}

.like svg:hover path {
    fill: #f6339a
}

.openComment,.openSearch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    height: 100vh;
    width: 100vw;
    cursor: auto;
    flex-direction: column;
    background-color: #0f172acc;
    padding: 1rem;
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.custom-skeleton .ant-skeleton-content {
    background-color: transparent
}

.ant-modal-root .ant-modal-wrap {
    z-index: 10000!important
}

.custom-skeleton .ant-skeleton-avatar,.custom-skeleton .ant-skeleton-button,.custom-skeleton .ant-skeleton-paragraph>li,.custom-skeleton .ant-skeleton-title {
    background-color: #252a32!important
}

.custom-skeleton-notify .ant-skeleton.ant-skeleton-element {
    width: 100%!important
}

.favories-drawer .ant-drawer-body,.notify-drawer .ant-drawer-body {
    overflow: hidden!important
}

@media (min-width: 768px) {
    .anticon-star svg {
        width:1.6em;
        height: 1.6em
    }

    .ant-drawer-right>.ant-drawer-content-wrapper {
        width: 500px!important
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.animate-loading {
    background: linear-gradient(90deg,rgba(0,0,0,.4) 25%,rgba(0,0,0,.6) 37%,rgba(0,0,0,.4) 63%);
    background-size: 400% 100%;
    animation-name: skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite
}

.h-screen {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100)
}

#chapter {
    scroll-margin-top: 75px
}

.swiper {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    scrollbar-face-color:var(--color-gray-lt);scrollbar-track-color: var(--color-black);
    scrollbar-color: var(--color-gray-lt) var(--color-black);
    scrollbar-width: thin
}

.swiper-slide {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    transform-style: preserve-3d;
    display: flex!important;
    justify-content: center;
    align-items: center
}

.swiper-slide img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: contain;
    object-fit: contain;
    will-change: transform
}

.swiper-vertical .swiper-slide {
    overflow-y: auto!important;
    display: flex!important;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: auto!important
}

.swiper-button-next,.swiper-button-prev {
    top: 0!important;
    bottom: 0!important;
    width: 28%!important;
    height: 100%!important;
    background: transparent;
    position: absolute;
    z-index: 10
}

.swiper-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAAZQTFRFAAAA+EE7RtkMxwAAAAJ0Uk5TAP9bkSK1AAAAhElEQVR4nE3LLQ7CQBhF0ftSkg8csIHuAYcqO2ArWAIJiIZ9sAF8FWDwVViCQY9qm0wZZhJIMEe8H1m1QHk9RkU1RFtKtDo9UXOfoZdNf4wm58jyqEbmtClxWh/oNL9FCPSJIHb7SHHhS/5AeoMyH7H2j5CykNo+3bo0dsLaq8i8BH7wAc9yMCLItTdDAAAAAElFTkSuQmCC") 0 0,auto!important
}

.swiper-button-prev {
    right: 0!important;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAAZQTFRFAAAA+EE7RtkMxwAAAAJ0Uk5TAP9bkSK1AAAAVUlEQVR4nGNkAAJGDELiBZCQeQIk5B4BCfmHjD845BMZ/zfOX8j4/6f6Qcb/DAsCgQTDTxDxF0T8BxEMcOI/XOInVDFYG8gAsFFgQ6HGgy0CW4nhFgCJ2ygjeSGFZgAAAABJRU5ErkJggg==") 0 0,auto!important
}

.swiper-button-next {
    left: 0!important;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAAZQTFRFAAAA+EE7RtkMxwAAAAJ0Uk5TAP9bkSK1AAAAWklEQVR4nGNkAAJGdELiBZCwOAEkKjqAxA8OBkbG7xzyjMxfOf8xsn9Uf8DI/4qNgVH+AVCx/QEgUd8AJP4zwAgwFywBVgJWDNYGNgBsFNhQiPFgi8BWYroFAN98HFHIdCGxAAAAAElFTkSuQmCC") 0 0,auto!important
}

.swiper-button-next:after,.swiper-button-prev:after,.swiper-rtl .swiper-button-next:after {
    content: ""!important
}

.swiper-pagination {
    color: #fff!important;
    text-align: right!important;
    padding-right: 30px;
    padding-bottom: 15px
}

.swiper-scrollbar.swiper-scrollbar-vertical,.swiper-vertical>.swiper-scrollbar {
    display: none
}

.search-drawer .ant-drawer-header {
    padding-top: 12px!important
}

.search-drawer .ant-drawer-body {
    padding: 0 16px!important
}

.ant-drawer .ant-drawer-close {
    color: #fff!important
}

.ant-drawer .ant-drawer-header {
    padding-top: 16px!important
}

.ant-popover .ant-popover-inner {
    border: 1px solid #ffffff0d!important;
    width: 250px!important;
    margin-left: 8px!important
}

.ant-popconfirm .ant-popconfirm-buttons button.ant-btn-variant-solid {
    background-color: #f8413b!important;
    color: #fff!important
}

.ant-slider .ant-slider-handle:active:after,.ant-slider .ant-slider-handle:focus:after,.ant-slider .ant-slider-handle:hover:after {
    box-shadow: 0 0 0 2.5px #f8413b!important
}

.ant-slider .ant-slider-handle:after {
    box-shadow: 0 0 0 2px #f8413b!important
}

.ant-slider:hover .ant-slider-track {
    background-color: #f8413b!important
}

@media (max-width: 768px) {
    .swiper-vertical .swiper-slide img {
        height:auto!important
    }
}

.ant-slider .ant-slider-handle:after,.ant-slider .ant-slider-track {
    background-color: #f8413b
}

.chapter-select .ant-select-selector {
    background: transparent!important;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.175)!important;
    border: 1px solid #fff!important
}

.ant-select-dropdown .ant-select-item {
    background-color: transparent!important;
    color: #fff!important
}

.ant-empty-normal .ant-empty-description,.ant-select .ant-select-arrow,.ant-select .ant-select-selection-placeholder,.ant-select-dropdown .ant-select-dropdown .ant-select-item {
    color: #fff
}

.ant-select-dropdown {
    z-index: 11
}

.ant-slider .ant-slider-rail,.ant-slider:hover .ant-slider-rail {
    background-color: #d3d3d3
}

.ant-slider-horizontal .ant-slider-rail,.ant-slider-horizontal .ant-slider-track,.ant-slider-horizontal .ant-slider-tracks {
    height: 8px
}

.ant-slider-horizontal .ant-slider-step {
    top: 4px;
    height: 8px
}

.ant-slider .ant-slider-handle,.ant-slider .ant-slider-handle:after {
    width: 15px;
    height: 15px
}

.ant-slider .ant-slider-handle:active:after,.ant-slider .ant-slider-handle:focus:after,.ant-slider .ant-slider-handle:hover:after {
    width: 15px;
    height: 15px;
    inset-inline-start: -.675px;
    inset-block-start: -.675px
}

.ant-slider-horizontal .ant-slider-handle {
    inset-block-start: .625px
}

.x-hamburger {
    margin-top: 2px;
    width: 25px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer
}

.x-hamburger span {
    width: 70%;
    display: block;
    position: absolute;
    height: 2.2px;
    background: #e6e3e3;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out
}

.x-hamburger-blog span {
    background: #fff
}

.x-hamburger span:first-child {
    top: 0;
    animation: x-hamburger-wave .4s ease-out infinite alternate
}

@keyframes x-hamburger-wave {
    0% {
        width: 70%
    }

    to {
        width: 100%
    }
}

.x-hamburger span:first-child,.x-hamburger span:nth-child(2) {
    transform-origin: left center
}

.x-hamburger span:nth-child(2) {
    top: 9px;
    animation: x-hamburger-wave .4s ease-out .3s infinite alternate
}

.x-hamburger span:nth-child(3) {
    top: 18px;
    transform-origin: left center;
    animation: x-hamburger-wave .4s ease-out .6s infinite alternate
}

.x-hamburger.-open {
    width: 25px
}

.x-hamburger.-open span {
    width: 100%;
    animation: none
}

.x-hamburger.-open span:first-child {
    transform: rotate(45deg);
    top: 0;
    left: 5px
}

.x-hamburger.-open span:nth-child(2) {
    width: 0;
    opacity: 0
}

.x-hamburger.-open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
    left: 5px
}

.ant-popover-inner {
    padding: 4px 8px!important
}

.ant-drawer .ant-drawer-content {
    background-color: #111827;
    z-index: 10000!important
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright
}

.menuHome {
    display: none
}

@media (min-width: 992px) {
    .menuHome {
        display:block
    }
}

canvas {
    width: 100%;
    max-width: 960px;
    max-height: 1378px;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none
}

.hover\:scale-110:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:rounded-2xl:hover {
    border-radius: 1rem
}

.hover\:rounded-xl:hover {
    border-radius: .75rem
}

.hover\:border-\[\#F8413B\]:hover {
    --tw-border-opacity: 1;
    border-color: rgb(248 65 59/var(--tw-border-opacity))
}

.hover\:bg-\[\#F8413B\]:hover,.hover\:bg-\[\#f8413b\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))
}

.hover\:bg-amber-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11/var(--tw-bg-opacity))
}

.hover\:bg-gray-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.hover\:bg-orange-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(154 52 18/var(--tw-bg-opacity))
}

.hover\:bg-sky-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199/var(--tw-bg-opacity))
}

.hover\:text-\[\#f8413b\]:hover {
    --tw-text-opacity: 1;
    color: rgb(248 65 59/var(--tw-text-opacity))
}

.hover\:text-blue-500:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.hover\:text-blue-600:hover {
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity))
}

.hover\:text-sky-600:hover {
    --tw-text-opacity: 1;
    color: rgb(2 132 199/var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.hover\:shadow-\[\#F8413B\]\/50:hover {
    --tw-shadow-color: rgba(248,65,59,.5);
    --tw-shadow: var(--tw-shadow-colored)
}

.focus\:bg-\[\#F8413B\]:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus\:ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.active\:bg-\[\#F8413B\]:active {
    --tw-bg-opacity: 1;
    background-color: rgb(248 65 59/var(--tw-bg-opacity))
}

.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .sm\:right-\[20\%\] {
        right:20%
    }

    .sm\:w-\[161px\] {
        width: 161px
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .sm\:grid-cols-4 {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .sm\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .sm\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

@media (min-width: 768px) {
    .md\:absolute {
        position:absolute
    }

    .md\:relative {
        position: relative
    }

    .md\:bottom-0 {
        bottom: 0
    }

    .md\:left-\[24\%\] {
        left: 24%
    }

    .md\:top-20 {
        top: 5rem
    }

    .md\:top-\[120px\] {
        top: 120px
    }

    .md\:mb-0 {
        margin-bottom: 0
    }

    .md\:mb-4 {
        margin-bottom: 1rem
    }

    .md\:mb-\[2\.5rem\] {
        margin-bottom: 2.5rem
    }

    .md\:ml-\[10px\] {
        margin-left: 10px
    }

    .md\:ml-\[15px\] {
        margin-left: 15px
    }

    .md\:mr-\[20px\] {
        margin-right: 20px
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:mt-14 {
        margin-top: 3.5rem
    }

    .md\:mt-5 {
        margin-top: 1.25rem
    }

    .md\:mt-\[10px\] {
        margin-top: 10px
    }

    .md\:mt-\[5px\] {
        margin-top: 5px
    }

    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:h-\[30px\] {
        height: 30px
    }

    .md\:h-\[42px\] {
        height: 42px
    }

    .md\:h-\[64px\] {
        height: 64px
    }

    .md\:max-h-\[500px\] {
        max-height: 500px
    }

    .md\:max-h-\[530px\] {
        max-height: 530px
    }

    .md\:min-h-\[235px\] {
        min-height: 235px
    }

    .md\:min-h-\[250px\] {
        min-height: 250px
    }

    .md\:min-h-\[254px\] {
        min-height: 254px
    }

    .md\:w-\[100px\] {
        width: 100px
    }

    .md\:w-\[200px\] {
        width: 200px
    }

    .md\:w-\[360px\] {
        width: 360px
    }

    .md\:w-\[550px\] {
        width: 550px
    }

    .md\:w-\[650px\] {
        width: 650px
    }

    .md\:w-\[80px\] {
        width: 80px
    }

    .md\:w-\[calc\(100\%-200px\)\] {
        width: calc(100% - 200px)
    }

    .md\:w-\[calc\(100\%-360px\)\] {
        width: calc(100% - 360px)
    }

    .md\:w-auto {
        width: auto
    }

    .md\:w-full {
        width: 100%
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .md\:grid-cols-5 {
        grid-template-columns: repeat(5,minmax(0,1fr))
    }

    .md\:grid-cols-6 {
        grid-template-columns: repeat(6,minmax(0,1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:items-center {
        align-items: center
    }

    .md\:justify-start {
        justify-content: flex-start
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:gap-2 {
        gap: .5rem
    }

    .md\:gap-4 {
        gap: 1rem
    }

    .md\:rounded-b-2xl {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem
    }

    .md\:bg-\[\#00C202\] {
        --tw-bg-opacity: 1;
        background-color: rgb(0 194 2/var(--tw-bg-opacity))
    }

    .md\:bg-sky-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(2 132 199/var(--tw-bg-opacity))
    }

    .md\:bg-yellow-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(202 138 4/var(--tw-bg-opacity))
    }

    .md\:p-\[15px\] {
        padding: 15px
    }

    .md\:px-2 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .md\:px-\[12px\] {
        padding-left: 12px;
        padding-right: 12px
    }

    .md\:px-\[15px\] {
        padding-left: 15px;
        padding-right: 15px
    }

    .md\:px-\[16px\] {
        padding-left: 16px;
        padding-right: 16px
    }

    .md\:px-\[20px\] {
        padding-left: 20px;
        padding-right: 20px
    }

    .md\:px-\[5px\] {
        padding-left: 5px;
        padding-right: 5px
    }

    .md\:px-\[8px\] {
        padding-left: 8px;
        padding-right: 8px
    }

    .md\:py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem
    }

    .md\:py-\[12px\] {
        padding-top: 12px;
        padding-bottom: 12px
    }

    .md\:py-\[4px\] {
        padding-top: 4px;
        padding-bottom: 4px
    }

    .md\:py-\[8px\] {
        padding-top: 8px;
        padding-bottom: 8px
    }

    .md\:pb-\[60px\] {
        padding-bottom: 60px
    }

    .md\:text-center {
        text-align: center
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .md\:text-\[1\.4rem\] {
        font-size: 1.4rem
    }

    .md\:text-\[13px\] {
        font-size: 13px
    }

    .md\:text-\[14px\] {
        font-size: 14px
    }

    .md\:text-\[1rem\] {
        font-size: 1rem
    }
}

@media (min-width: 1024px) {
    .lg\:left-\[26\%\] {
        left:26%
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }
}

@media (min-width: 1280px) {
    .xl\:left-\[30\%\] {
        left:30%
    }
}

@media (min-width: 1536px) {
    .\32xl\:left-\[34\%\] {
        left:34%
    }
}
